.main {
    text-align: center;

    .testList {
        margin: 0px auto;
        list-style-type: none;
        list-style: none;
        padding: 0;
        width: fit-content;

    }
    .header {
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }
}