@import '../../styles/mixins.scss';

.main {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #eee;
    padding: 100px 0;
    @include button;

    input,
    textarea,
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    input[type='radio'] {
        width: auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.formGroup {
    margin-bottom: 15px;
}

.nestedFormGroup {
    margin-left: 20px;
    margin-bottom: 10px;
}

.answerGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.error {
    color: tomato;
    margin: 10px 0;
    text-align: center;

}

.textarea {
    resize: vertical;
}

.navLink {
    text-decoration: none;
    color: white;
}