.main {
    margin: 5px 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: black;

    p,
    .testCommentIcon,
    span {
        margin-left: 8px;
        max-width: fit-content;
    }

    .testLikes {
        display: flex;
        color: black;
        align-items: center;
    }

    .saves, .testLikes {
        cursor: pointer;
    }
}