@import '../../styles/_mixins.scss';

.main {
    @include post;

    .result {
        .resultParagraph {
            color: black;
            margin: 10px;
            font-weight: bold;
            text-align: left;
        }

        .resultDisplayContainer {
            border-radius: 5px;
            height: 15px;
            border: 1px solid rgb(180, 180, 180);
        }

        .resultDisplay {
            height: 15px;
            background-color: #007bff;
        }
    }

}