.userSettings {
    min-height: 100vh;
    max-height: fit-content;
    text-align: center;

    .form {
        padding: 80px;
    }

    .textInput {
        width: 50%;
        padding: 10px;
        margin: 20px 0;
    }

    .button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.6s;

        &:hover {
            background-color: #0056b3;
        }
    }

    .error {
        color: tomato;
        margin-bottom: 10px;
    }

    .navLink {
        padding: 10px 15px;
        border-radius: 2em;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        font-weight: bolder;
        padding: 10px 15px;
        text-decoration: none;
        transition: 1s;

        &:hover {
            background: #0056b3;
            color: #fff;
        }
    }

    .checkboxContainer {
        display: flex;
        .checkbox {
            margin-right: 12px;
        }
    }

    .detailsDIv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}