.stats {
    .firstLine {
        margin: 30px 0 70px 0;

        .firstLineItem {
            padding: 0 15px;
            border-right: 1px solid gray;
            text-align: center;

            .number {
                font-weight: bolder;
                font-size: large;
                color: black;
            }
        }
    }

    .secondLine {
        font-weight: bold;
        font-size: 2rem;

        .secondLineItem {
            padding: 0 30px;

            cursor: pointer;
            transition-duration: 0.6s;

            &:hover {
                color: black;
            }
        }

        .active {
            color: black;
        }
    }
}

.firstLine,
.secondLine {
    display: flex;
    align-items: center;
    justify-content: center;

    .firstLineItem,
    .secondLineItem {
        color: gray;

        &:first-of-type {
            border-left: none;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}