.stats {
    display: flex;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;

    .likes,
    .followers,
    .followings,
    .tests,
    .likedTests,
    .savedTests {
        padding: 0 15px;
        line-height: 1.5;
    }

    .tests,
    .followers,
    .followings,
    .likedTests,
    .savedTests {
        border-left: 2px solid gray;
    }

    .likedPosts {
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }
}