@import '../../styles/_mixins.scss';

.comment {
    background: #f9f9f9;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    @include dropdown;
    @include answerLink;
    @include cancelButton;
    @include commentArea;

    p {
        margin: 0 0 5px 0;
    }

    span {
        color: #666;
        font-size: 0.9em;
    }

    @include button;

    .nameAndDropdown {
        display: flex;
        justify-content: space-between;
    }
    .error {
        color: tomato;
        margin: 10px 0;
    }
}