@import '../../styles/mixins.scss';

.errorFallback {
    text-align: center;
    font-size: 1.8rem;
    .errImage {
        width: 20%;
        height: 20%;
        margin: 0 auto;
    }
    .error {
        color: tomato;
    }
    @include button;
}