@import '../../styles/mixins.scss';

.main {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #333;
    padding: 100px 0;
}

.testPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;

    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .question {
        margin-bottom: 20px;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .answer {
            margin-bottom: 10px;
            display: flex;

            input {
                margin-right: 10px;
            }
        }
    }

    @include button;
}