.headerContainer {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    max-height: fit-content;
    top: 0;
    background-color: black;
    color: white;
    z-index: 15;
    display: flex;
    font-size: 1.2rem;
}



@media (min-width: 800px) {
    .headerContainer {
        justify-content: center;
        align-items: center;
    }
    .nav {
        display: flex;
        height: fit-content;
        background-color: black;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px auto;
        &:first-child {
            margin-left: 0;
            padding-left: 0;
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }
    }

    .navItem {
        text-wrap: nowrap;
        padding: 1rem 5rem;
        color: white;
        text-decoration: none;
        text-align: center;
        height: 100%;
        transition: 0.6s;

        &:hover {
            background-color: #555;
        }
    }


    .authButtons {
        align-self: flex-end;
        display: flex;
        gap: 5rem;
        justify-content: flex-end;
        align-items: start;
        align-self: center;

    }

    .button {
        background-color: #555;
        color: white;
        border: none;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
        font-size: 1.2rem;

        &:hover {
            background-color: #777;
        }
    }

    .dropdown {
        height: 100%;
        position: relative;

        &:hover+.dropdownButton {
            border-bottom: 1px solid white;
        }
    }

    .dropdownContent {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: black;
        text-align: center;

        .navItem {
            color: white;
            text-align: center;
            text-decoration: none;
            display: block;
            &:nth-child(1) {
                border-top: 1px solid white;
                border-bottom: 1px solid white;
            }
    
            &:hover {
                background-color: grey;
            }
        }

        &:hover+.dropdownButton {
            border-bottom: 1px solid white;
        }
    }

    .dropdownButton {
        cursor: pointer;
        height: 100%;

        &:hover+.dropdownContent {
            display: flex;
            flex-direction: column;
            animation: displayChange 0.6s ease;
        }
    }

    .dropdownContent:hover {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .navItem,
    .authButtons {
        display: none;
    }
}

@keyframes displayChange {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}