@mixin dropdown {
    .dropdown {
        text-align: right !important;

        .dropdownContent {
            display: none;
        }

        &:hover {
            .dropdownContent {
                display: block;
            }
        }

        .dropdownContent {
            margin-top: 0;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: fit-content;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 5px;
            border: 1px solid #eee;
        }

        .dropdownContent p {
            color: black;
            padding: 8px 13px;
            display: block;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        .dropdownContent p:hover {
            background-color: #f1f1f1;
        }
    }
}

@mixin answerLink {
    .answerLink {
        font-size: 0.8rem;
        padding-left: 20px;
        color: rgb(0, 153, 255);
        cursor: pointer;
        text-decoration: dotted underline;

        &:hover {
            color: blue;
        }
    }
}

@mixin button {
    .button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

    .button:hover {
        background-color: #0056b3;
    }

    .button:disabled {
        background-color: gray;
    }
}

@mixin cancelButton {
    .cancelButton {
        margin: 10px 20px;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: tomato;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.6s;

        &:hover {
            background-color: orangered;
        }
    }
}

@mixin testForm {

    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #eee;
    padding: 100px 0;
    @include button;

    input,
    textarea,
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    input[type='radio'] {
        width: auto;
    }

    .button {
        width: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .formGroup {
        margin-bottom: 15px;
    }

    .nestedFormGroup {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .answerGroup {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .error {
        color: tomato;
        margin: 10px 0;
        text-align: left;

    }

    .textarea {
        resize: vertical;
    }

    .navLink {
        text-decoration: none;
        color: white;
    }

    .header {
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 5px;
        border-bottom: 1px solid darkgray;
    }
}

@mixin postReview {
    min-height: 100vh;

    .testContainer {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 100px auto;
    }

    @media (min-width: 1000px) {
        .testContainer {
            width: 50%;
        }
    }

    @media (max-width: 1000px) {
        .testContainer {
            width: 80%;
        }
    }

    .testReviewHeader {
        margin-bottom: 20px;
        border-bottom: 1px solid black;

        .navLink {
            text-decoration: none;
            color: black;

            &:hover {
                color: rgb(0, 153, 255);
            }
        }
    }

    .navLink {

        color: rgb(0, 153, 255);

        &:hover {
            color: blue;
        }
    }

    .testReviewH5,
    .testReviewH3 {
        margin: 10px 0;
    }

    .testReviewH3 {
        color: rgb(97, 97, 97);
    }

    .testReviewH5 {
        font-size: 1.1rem;
    }

    .testComments,
    .testLikes {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .questions {
        margin-bottom: 20px;
    }

    .question {
        margin-bottom: 10px;
    }

    .ul {
        list-style-type: none;
        padding: 0;
    }

    .li {
        padding: 5px 0;
    }

    .results {
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }

    .result {
        margin-bottom: 10px;
    }
}

@mixin postPage {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #eee;
    padding: 100px 0;

    .testPage {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .question {
            margin-bottom: 20px;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            .answer {
                margin-bottom: 10px;
                display: flex;

                input {
                    margin-right: 10px;
                }
            }
        }

        .error {
            color: tomato;
            margin: 10px 0;
            font-size: 1rem
        }

        @include button;
    }
}

@mixin userPosts {
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    max-height: fit-content;
    text-align: center;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .searchInput {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
            width: 40%;
            align-self: flex-end;
            margin: 30px 0;
            outline: 1px solid #ddd;
            transition-duration: 0.5s;

            &:focus {
                outline: 0;
                outline: 1px solid #555555;
            }
        }
    }

    h1 {
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 2rem;
        text-align: center;
    }
}

@mixin postList {
    margin: 0px auto;
    list-style: none;
    .testList {
        list-style: none;
    }
    padding: 0;
    width: fit-content;
}

@mixin post {
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    min-width: 400px;

    .navLink {
        text-decoration: none;
        color: black;
    }

    &:hover {
        background-color: #dfdfdf;
        border: 1px solid #9c9c9c;
    }

    .postDescription {
        margin: 5px 0;
        color: #666;
        text-align: left;
    }

    .postTitle {
        margin: 5px 0;
        font-size: 1.5rem;
        color: black;
        text-align: left;
    }

    @media (max-width: 600px) {
        min-width: 300px;
    }
}

@mixin authorization {
    top: 0;
    padding: 5%;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #eee;
    z-index: 12;
    @include button;

    .formContainer {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 2rem;
        margin: 100px auto;
        width: 30%;
        border-radius: 4px;
    }

    .header {
        margin-bottom: 1rem;
    }


    .inputField {
        margin-bottom: 1rem;
        width: 100%;
    }

    .label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .error {
        color: tomato;
        margin: 10px 0;
    }

    .button {
        width: 100%;
    }

    @media (max-width: 800px) {
        .formContainer {
            width: 80%;
        }
    }
}

@mixin commentArea {
    .textarea {
        resize: vertical;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 1em;
        min-height: 80px;
        width: 100%;
    }
}

@mixin profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    @include button;


    .avatar {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .username {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .bio {
        font-size: 1.2em;
        color: #666;
        margin-bottom: 20px;
    }

    .actions {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .posts {
        text-align: center;

        .postsHeader {
            margin: 20px 0;
        }
    }
}