.header {
    text-align: center;
    margin: 30px auto;
    flex-direction: row;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;

    .searchInput {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 36px;
        background-color: white;
        font-size: 1.2rem;
        outline: 1px solid #ddd;
        transition-duration: 0.5s;
        cursor: pointer;

        &:focus {
            outline: 0;
            outline: 1px solid #555555;
        }
    }
}